venv/
.idea/

turtle/tests

# java stuff
*.jar
*.class

# temporary ontologies
*temp*.ttl
*temp*.owl
temp/*


README.md.backup
found_anomalies/el_reasoners/tobias-HP/*
found_anomalies/turtle_parsers/tobias-HP/*
test_cases/ore_2015/consistency/ontologies/*.owl
