venv/
.idea/

turtle/tests

# java stuff
*.jar
*.class
api_tester/target

# temporary ontologies
*temp*.ttl
*temp*.owl
temp/*


README.md.backup
found_anomalies/el_reasoners/tobias-HP/*
found_anomalies/turtle_parsers/tobias-HP/*
test_cases/ore_2015/consistency/ontologies/*.owl
test_cases/ore_2015/consistency/ontologies_larger_5mb/*.owl

test_cases/ore_2015/all_el_smaller_1mb/*.owl
test_cases/ore_2015/classification/ontologies/*.owl
test_cases/ore_2015/consistency/ontologies_smaller_1mb/*.owl
test_cases/ore_2015/instantiation/ontologies/*.owl

# exclude ontologies used in docker image (for testing)
!test_cases/ore_2015/consistency/temp_anomaly_test5.owl
!test_cases/ore_2015/consistency/ontologies/ore_ont_264.owl

test_cases/rdf_ttl/tobias-HP/generated_2024_12_17_18_54/*
test_cases/rdf_ttl/tobias-HP/generated_2024_12_17_20_08/*
anomaly*.txt
reduced_bugs/temp/*
testReasonersEL_folder.sh
temp_reasoners.log
